extends master-template
block content
  .container
    .row.welcomemsg
      .col-md-6.col-md-push-3
        .welcome-panel.text-center
          h1.logo 404 error
          p.introtxt Nismo uspjeli pronaći traženu stranicu. 
          .sub
            | Vratite se na
            a(href='#{baseUrl}') početnu stranicu