extends master-template
block content
  .container
    ol.breadcrumb
      li
        a(href='dashboard.html') Administracija
      li
        a(href='dashboard.html') Stranice
      li.active Nova kategorija
    .row 
      p.lead= $flash['success']
      form(role='form', method='post')
        .col-md-8
          .form-group
            label(for='pageTitle') Naslov
            input.form-control(type='text', name='catTitle', value='#{category['category_title']}', placeholder='Naziv kategorije')
          .form-group
            label(for='pageDesc') Opis
            input.form-control(type='text', name='catDesc', value='#{category['category_desc']}', placeholder='Opis kategorije')
        .col-md-4
          .panel.panel-default
            .panel-body
              .form-group
                button.btn.btn-primary(type='submit') Objavi