doctype
html(lang='en')
 head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Registracija @ Moreno
    //
       Bootstrap 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/customstyle.css', rel='stylesheet')
    //
       HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    //
       WARNING: Respond.js doesn't work if you view the page via file:// 
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row.credentials-panel
        .col-md-4.col-md-push-4
          .welcome-panel
            .page-header
              h1 Registracija
            form(role='form', method='post')
              .form-group
                input#registername.form-control(type='text', name='username', placeholder='Korisničko ime')
              .form-group
                input#registeremail.form-control(type='email', name='email', placeholder='Email adresa')
              .form-group
                input#registerpass.form-control(type='password', name='pass', placeholder='Lozinka')
              .form-group
                input#registerrepeatpass.form-control(type='password', name='passrepeat', placeholder='Ponovite lozinku')
              button.btn.btn-primary(type='submit') Registracija
              p.sub
                a(href='#{baseUrl}') ← Natrag na W2GCRO
    //
       jQuery (necessary for Bootstrap's JavaScript plugins) 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    //
       Include all compiled plugins (below), or include individual files as needed 
    script(src='js/bootstrap.min.js')